<%- include('partials/header') -%>
<!-- VIEW SECTION -->
<div class="section">
    <div class="movie-details">
        <!-- DESKTOP -->
        <img src="https://image.tmdb.org/t/p/w400<%= movie.poster_path %>" alt="<%= movie.title || movie.name %>">

        <div class="container">
            <!-- MOBILE -->
            <div class="mobile-content">
                <!-- TOP SECTION -->
                <div class="mobile-top-section">
                    <div class="mobile-poster">
                        <img src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title || movie.name %>">
                    </div>
                    <div class="movie-info">
                        <div class="section-header-pg">
                            <span><%= movie.title || movie.name %></span><br>
                            <i><%= new Date(movie.release_date || movie.first_air_date).toLocaleDateString('en-US', {
                                year: 'numeric', 
                                month: 'long', 
                                day: 'numeric'
                            }) %>.</i> 
                        </div>
                        <hr>
                        <% if (director) { %>
                            <br>Directed by <strong><%= director.name %></strong>
                        <% } else if (creators && creators.length > 0) { %>
                            <br>Created by <strong><%= creators.map(creator => creator.name).join(', ') %></strong>
                        <% } %>

                        <br>
                        <%= movie.vote_average.toFixed(1) %>/10 -
                        <% if (movie.vote_average > 8.5) { %>
                            &#9733; &#9733; &#9733; &#9733; &#9733;
                        <% } else if (movie.vote_average > 7) { %>
                            &#9733; &#9733; &#9733; &#9733;
                        <% } else if (movie.vote_average > 5) { %>
                            &#9733; &#9733; &#9733; 
                        <% } else if (movie.vote_average > 3.5) { %>
                            &#9733; &#9733; 
                        <% } else { %>
                            &#9733; 
                        <% } %> 
                    </div>
                </div>
                
                <!-- BOTTOM SECTION -->
                <div class="movie-synopsis">
                    <div class="movie-text">
                        <%= movie.overview %>
                        <br><br>
                        <% if (movie.genres && movie.genres.length) { %>
                        <div class="genre-cont">
                            <% movie.genres.forEach(genre => { %>
                                <span class="genre"><%= genre.name %></span>
                            <% }); %>
                        </div>
                        <% } %>
                    </div>
                </div>

                <!-- TODO add a "add to watchlist" and "watched" -->
                <% if (login === true) { %> 
                <div class="watchlist-actions">
                    <button class="watchlist-btn" 
                            data-movie-id="<%= movie.id %>" 
                            data-movie-type="<%= movie.title ? 'movie' : 'tv' %>"
                            data-movie-title="<%= movie.title || movie.name %>"
                            data-poster-path="<%= movie.poster_path %>"
                            data-release-date="<%= movie.release_date || movie.first_air_date %>"
                            data-vote-average="<%= movie.vote_average %>">
                        Add to Watchlist
                    </button>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</div>            

<%- include('partials/footer') -%>
</body>
</html>
